/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
/* styles.css (global) */
body {
    background: #0f0f0f;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}